extends layout

block style 
    link(rel="stylesheet" href="/stylesheets/users.css")

block content
    header
        div
            img(src= avatar)
        div
            h2.name= name
            h3.username= username
            p.bio= bio
    main
        section
            h2 GitHub Activity
            .github
                div
                    p.number= github.followers
                    p.activity Followers
                div
                    p.number= github.following
                    p.activity Following
                div
                    p.number= github.repo
                    p.activity Repositories
                div
                    p.number= github.gist
                    p.activity Gist
                div
                    p.number= github.prCount
                    p.activity Pull Requests
                div
                    p.number= github.issueCount
                    p.activity Issues
                div
                    p.number= github.commitsCount
                    p.activity Commits
                div
                    p.number= github.organizationsCount
                    p.activity Organizations
        section 
            h2 Languages Used 
            if (languages)
                .popularLang
                    each langPercent, key in languages
                        div 
                            div.langIconContainer 
                                img.langIcon(src= `https://cdn.jsdelivr.net/gh/PKief/vscode-material-icon-theme@main/icons/${key.toLowerCase()}.svg`, title= key alt=" " srcset="")
                            div 
                                p.langPercent= langPercent
                                p.activity= key
            else 
                p Not enough data  

        section.popularRepo
            h2 Popular Projects
            if (popularProjects.length > 0)
                .repoContainer
                    each repo in popularProjects
                        div
                            div.repoHeader
                                h3.repoName= repo.name
                                p.repoBio= repo.description ? repo.description : "No Description"
                            div.repoFooter
                                div
                                    p!= `${starIcon} ${repo.stargazers_count}`
                                    p!= `${forkIcon} ${repo.forks_count}`
                                    p= repo.size
                                div !{`<p class="repoLang" data-color="${repo.languageColor}">${repo.language}</p>`}
            else 
                p Not enough data                
        section.popularRepo
            h2 Contributed Projects
            if (contributedProject.length > 0)
                .repoContainer
                    each repo in contributedProject
                        div
                            div.repoHeader
                                h3.repoName= repo.name
                                p.repoBio= repo.description ? repo.description : "No Description"
                            div.repoFooter
                                div
                                    p= repo.stargazers_count
                                    p= repo.forks_count
                                    p= repo.size
                                div !{`<p class="repoLang" data-color="${repo.languageColor}">${repo.language}</p>`}
            else 
                p Not enough data                 
