extends layout

block content
	div
		img(src= avatar)
	h1= name
	if bio
		p= bio		
	h1 popular projects
	if popularProjects.length > 0
		each repo in popularProjects
			h4= repo.name
			p= repo.description
	else
		p #{name} is not created any project!
	h1 contributed projects
	if contributedProject.length > 0
		each repo in contributedProject
			h4= repo.name
			p= repo.description
	else 
		p #{name} is not contributed in any project!
	h1 top languages
	if languages
		each lang,percnt in languages
			h4= lang
			p= percnt
	else 
		p #{name} is not contributed in any project!